{% extends '__base.html' %}
{% block title %}{{ _('Login') }}{% endblock %}
{% block body %}
<h1>Sign In</h1>
<form method="POST" action="" novalidate class="form-control form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span class="danger">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <span class="danger">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}<a class="btn btn-outline-dark" href="{{ url_for('register') }}">{{ _('Register') }}</a></p>
    <p>Forgot password? <a href="{{ url_for('reset_password_request') }}">{{ _('Click to Reset') }}</a></p>
</form>
{% endblock %}