{% extends '__base.html' %}

{% block title %}User profile{% endblock %}

{% block body %}
<h1><img src="{{ user.avatar(128) }}"> User: {{ user.username }}, Email: {{ user.email }}</h1>
<hr>
{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
{% if user.last_seen %}<p>Last seen at {{ user.last_seen }}</p>{% endif %}
{% if user == current_user %}<p><a href="{{ url_for('edit_profile') }}" class="btn btn-outline-dark">Edit profile</a></p>
{% elif not current_user.is_following(user) %}<p><form action="{{ url_for('follow', username=user.username) }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Follow') }}
</form></p>
{% else %}<p><form action="{{ url_for('unfollow', username=user.username) }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Unfollow') }}
{% endif %}
{% endblock %}